.project-requirements{
    background-color: #ddd;
    border: 10px solid #ddd;
    border-radius: 10px;
    margin: 2px 0;
    overflow-x: auto;
    padding: 30px;
    max-width: 100%;
}

#Software,#Hardware,#Dependencies{
    margin-top: 45px;
}