.welcome{
    text-align: center;
    font-size: 30px;
}
.logo {
    display: flex;
	align-items: center;
    justify-content: center;
	height: 40vh;
}
img {
    max-width: 25%;
    height: auto;
}
#intro{
    margin-top: 30px;
    text-align: justify;
}